.udv-editor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  .udv-navigator-area {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
  }
  .udv-content-area {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    .udv-control-list {
      display: flex;
      flex-shrink: 0;
      flex-direction: column;
      border-right: 1px solid #ccc;
      width: 200px;
    }
    .udv-layout-builder {
      display: flex;
      flex-grow: 1;
      border-right: 1px solid #ccc;
      flex-direction: column;
    }
    .udv-property-editor {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 400px;
    }
  }
}
