.page-setting-icon-button {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &.highlight-button {
    background-color: rgb(255, 111, 0);
  }
}
