.column-filter {
  width: 100%;
  display: grid;
  box-sizing: border-box;
  padding: 10px;

  .column-filter-select,
  .column-filter-input {
    .column-filter-option {
      line-height: 20px;
    }

    box-sizing: border-box;
    width: 100%;
    font-size: var(--ag-font-size);
    font-family: var(--ag-font-family);
    padding: 3px;
    border: 1px solid;
    border-color: var(--ag-border-color);
    border-radius: 5px;
  }

  .mb-5 {
    margin-bottom: 5px;
  }

  .column-filter-select:focus,
  .column-filter-input:focus {
    outline: none;
    box-shadow: var(--ag-input-focus-box-shadow);
    border-color: var(--ag-input-focus-border-color);
  }
}
